matplotlib>=2.0.0
numpy>=1.9.2
pandas>=0.17
scipy>=0.16.1
seaborn>=0.7.1
statsmodels>=0.8.0
arabic-reshaper==2.0.15
astunparse==1.6.2
certifi==2019.9.11
cffi==1.13.1
chardet==3.0.4
cryptography==2.8
cycler==0.10.0
decorator==4.4.0
esprima==4.0.1
et-xmlfile==1.0.1
freetype-py==2.1.0.post1
future==0.18.1
gevent==1.4.0
gitdb2==2.0.6
GitPython==3.0.3
glfw==1.8.3
greenlet==0.4.15
idna==2.8
imageio==2.6.1
imageio-ffmpeg==0.3.0
jdcal==1.4.1
json-tricks==3.13.2
kiwisolver==1.1.0
matplotlib==3.1.1
moviepy==1.0.1
msgpack==0.6.2
msgpack-numpy==0.4.4.3
networkx==2.4
numexpr==2.7.0
numpy==1.17.3
opencv-python==4.1.1.26
openpyxl==3.0.0
pandas==0.25.2
patsy==0.5.1
Pillow==6.2.0
proglog==0.1.9
psutil==5.6.3
PsychoPy==3.2.3
pycparser==2.19
pyglet==1.4.6
PyOpenGL==3.1.0
pyOpenSSL==19.0.0
pyosf==1.0.5
pyparallel==0.2.2
pyparsing==2.4.2
PyQt5==5.13.1
PyQt5-sip==12.7.0
pyserial==3.4
python-bidi==0.4.2
python-dateutil==2.8.0
python-gitlab==1.12.1
pytz==2019.3
PyWavelets==1.1.1
PyYAML==5.1.2
pyzmq==18.1.0
questplus==0.0.5
requests==2.22.0
scikit-image==0.16.1
scikit-video==1.1.11
scipy==1.3.1
seaborn==0.9.0
six==1.12.0
smmap2==2.0.5
sounddevice==0.3.14
SoundFile==0.10.2
statsmodels==0.10.1
tables==3.6.0
tqdm==4.36.1
urllib3==1.25.6
xarray==0.14.0
xlrd==1.2.0
